html {
    background-color: #F4F4F4;
    font-family: "Basis Grotesque Pro";
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 12px;
}

@font-face {
    font-family: "Basis Grotesque Pro";
    src: url(BasisGrotesquePro-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Basis Grotesque Pro";
    src: url(BasisGrotesquePro-Bold.ttf);
    font-weight: 700;
}

div {
    font-family: "Basis Grotesque Pro";
}

.container {
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 24px 12px;
}

.info-container {
    max-width: 680px;
    margin: 0px auto;
    height: 100%;
    width: 100%;
}

.profile {
    text-align: center;
    flex-direction: column;
    margin-top: 12px;
    margin-bottom: 32px;
}

.profile-picture {
    margin-bottom: 16px;
}

.link {
    background-color: #E9E9E9;
    border-radius: 4px;
    height: auto;
    margin-bottom: 16px;
}

.link a {
    display: flex;
    height: 6rem;
}

a {
    text-decoration: none;
    color: #000;
}

.right {
    margin: auto 16px;
}

.social-link {
    background-color: #E9E9E9;
    border-radius: 4px;
    margin-bottom: 24px;
}

.top {
    background-color: #000;
    min-height: 120px;
    border-radius: 4px 4px 0px 0px;
}

.bottom {
    padding: 16px 24px;
}

.bottom h3 {
    margin-bottom: 5px;
    margin-top: 0px;
}

.bottom p {
    margin: 0 auto;
}

.footer {
    margin: 56px auto 24px auto;
    text-align: center;
}